.graybox{ 
    background-color: lightgray;
    height: 40px;
    
}

.title{
    color: black;
    font-size: 20px;
    font-family: arial;
    margin: 0;
    display: inline;
    position: relative;
    bottom: -10px;
    left: 12px;
}


.menu{
    list-style-type: none;
    padding: 0;
    float: right;
    margin: 0;

}

.menu li{
    display:inline;
    padding-right: 5px;
    
}

.menu li a{
    text-decoration: none;
    color: purple;
    position: relative;
    bottom: -10px;
    right: 15px;
}

p{
    font-size: 20px;
    position: relative;
    top: 160px;
    left: 150px;
    
    
}

.navbar{
    float: right;
    display: inline;
}

.search{
    color: lightgray;
    position: relative;
    top: 150px;
    left: 150px;
    width: 450px;
    height: 30px;
}

#glass{
    position: relative;
    top: 110px;
    left: 610px;
}

img{
    width: 40px;
    height: 40px;
}

#button1{
    background-color: white;
    width: 100px;
    height: 30px;
    text-align:center;
    position: relative;
    top: 150px;
    left: 150px;
    border: 1px solid darkgray;
}

#button2{
    background-color: white;
    width: 200px;
    height: 30px;
    text-align: center;
    position: relative;
    top: 118px;
    left: 252px;
    border: 1px solid darkgray;}

#button3{
    background-color: white;
    width: 100px;
    height: 30px;
    text-align: center;
    position: relative;
    top: 86px;
    left: 454px;
    border: 1px solid darkgray;}
    

span{
    color: blue;
    padding-left: 30px;
    padding-right: 30px;
}


    
    
table{
    position: relative;
    top: 150px;
    left: 150px;
    line-height: 2;
}


    
    
    
    
    
    
    
    
    

    
    
    
    

    
    
    
    border: 1px solid black;
    
}








